.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}

.shopping-icon {
  padding: 0 14px;
}

.spacer {
  flex: 1 1 auto;
  width: 2%;
}

.searchBar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2ex;
  width: 80%;
}

.product-card-footer {
  margin-left: auto;
  margin-bottom: auto;
}

.product-card {
  max-width: 500px;
  max-height: 1000px;
  border-radius: 1rem;
  margin: 5%;
}

@media (min-width: 501px) {
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }

}

@media (max-width: 500px) {
  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
