.spacer {
    flex: 1 1 auto;
    width: 2%;
  }

  .new-product-input{
    display: flex;
    flex-direction: column;
    margin-left: 15%
  }

  mat-form-field{
      width: 70%;
      align-content: center;
  }

  .button{
    width: 70%;
    align-content: center;
    display: flex;
    flex-direction: row;
  }
  #add{
    flex-grow: 2;
  }
  #back{
    margin-left: 1em;
    flex-grow: 1;
  }

  h2{
      margin-left: 35%;
  }

  .img {
    width: 100%;
    height: 100%;
    min-width: 200px;
    min-height: auto;
  }

  .image{
    width: 70%;
    display: flex;
    justify-content: center;
  }
  .image-card {
    max-width: 30%;
    max-height: auto;
    border-radius: 1rem;
    margin-top: 0.5%;
    margin-bottom: 1%;
  }

  @media screen and (max-width:550px){
    .button{
      flex-direction: column;
      align-items: center;
    }

    #add{
      flex-grow: 1;
      width: 100%;
    }
    #back{
      width: 100%;
      margin-top: 1em;
      flex-grow: 1;
      margin-left: 0%;
    }

    .image-card {
      max-width: 50%;
      max-height: auto;
      margin-bottom: 2%;
    }
    
  }

