.spacer {
    flex: 1 1 auto;
    width: 2%;
  }

  .new-product-input{
    display: flex;
    flex-direction: column;
    margin-left: 15%
  }

  mat-form-field{
      width: 70%;
      align-content: center;
  }

  button{
    width: 70%;
    align-content: center;
  }

  h2{
      margin-left: 35%;
  }

