<div class="container">
    <div *ngFor="let product of splicedData">
      <mat-card class="product-card">
          <mat-card-header>
              <mat-card-title>{{product.name}}</mat-card-title>
              <mat-card-subtitle>Subtitle</mat-card-subtitle>
          </mat-card-header>
          <img matCardImage src="https://images.pexels.com/photos/776656/pexels-photo-776656.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
          <mat-card-content>
              <p>
              description
              <br>
              <br>
              <br>
              <br>
              </p>
          </mat-card-content>
          <mat-card-actions align="start">
              <button mat-flat-button color="primary">Add to Cart</button>

          </mat-card-actions>
          <mat-card-footer>

          </mat-card-footer>
      </mat-card>
    </div>
</div>

<mat-paginator [length]="length"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions"
              (page)="pageChangeEvent($event)">
</mat-paginator>
