<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutAlign="start stretch">
    <div *ngFor="let product of products" fxFlex="80%" >
      <mat-card class="product-card" fxFlex>
          <mat-card-header>
              <mat-card-title>{{product.name}}</mat-card-title>
              <mat-card-subtitle>Subtitle</mat-card-subtitle>
          </mat-card-header>
          <img matCardImage src="https://material.angular.io/assets/img/examples/shiba2.jpg">
          <mat-card-content>
              <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
               bred for hunting.
              </p>
          </mat-card-content>
          <mat-card-actions align="start">
              <button mat-button>Action1</button>

          </mat-card-actions>
          <mat-card-footer>
              Footer
          </mat-card-footer>
      </mat-card>
    </div>
</div>
